@import "compass/reset";
@import "helper/vars";
@import "helper/mixins";
@import "../scripts/slider/js-image-slider.css";

html {
	background-color: #FFF;
	color: #000;
}
body {
	@include rem("max-width",41.5);

	margin: 0 auto;
	font-family: Inconsolata, Consolas, monaco, monospace;
	line-height: 1.2;
}
a {
	color: #CC0106;
}
h1,h2,h3,h4,h5,h6,p,details,nav,#map {
	@include rem("margin-bottom",1);
}
h1,h2 {
	color: darken($colorBrightGreen,5%);
	@include rem("font-size",1.75);
}
h3,h4,h5,h6,nav,summary {
	color: $colorRed;
	@include rem("font-size",1.25);

	small {
		@include rem("font-size",1);
	}
}
details {
	@include rem("padding-bottom",1);
}
summary {
	@include clearfix;

	cursor: pointer;
	
	&:hover {
		text-decoration: underline;
	}
}
p {
	@include rem("font-size",1);
	
	text-align: justify;
}
header, article {
	@include rem("margin-top",2);
	@include rem("margin-bottom",2);
	@include rem("padding-left",2);
	@include rem("padding-right",2);
}
article {
}
hr {
	width: 100%;
	height: 1px;
	background-color: #CCC;
	color: #CCC;
	border: none;
}
nav {
	display: table;
	table-layout: fixed;
	width: 100%;
	
	ul {
		display: table-row;
	}
	li {
		display: table-cell;
		text-align: center;
	}
}
.topics {
	li {
		@include clearfix;
		@include rem("margin-top",2);
		@include rem("margin-bottom",2);

		display: block;
	}
	img {
		@include box-shadow(0 0 10px #cdb89e);
		
		float: left;
		margin: 0 20px 12px 0;
		border: 1px solid #FFF;
	}
}
#map {
	@include box-shadow(0 0 10px #cdb89e);
	@include border-box;

	width: 100%;
	height: 400px;
	border: 1px solid #FFF;
}
#sliderFrame, #slider {
	@include box-shadow(0 0 10px #cdb89e);
	@include border-box;

	width: 100%;
	overflow: hidden;
	border: 1px solid #FFF;
}