@import url(../scripts/slider/js-image-slider.css);
/* line 17, ../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/screen.scss */
html {
  background-color: #FFF;
  color: #000;
}

/* line 10, ../sass/screen.scss */
body {
  max-width: 664px;
  max-width: 41.5rem;
  margin: 0 auto;
  font-family: Inconsolata, Consolas, monaco, monospace;
  line-height: 1.2;
}

/* line 17, ../sass/screen.scss */
a {
  color: #CC0106;
}

/* line 20, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6, p, details, nav, #map {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

/* line 23, ../sass/screen.scss */
h1, h2 {
  color: #83ab17;
  font-size: 28px;
  font-size: 1.75rem;
}

/* line 27, ../sass/screen.scss */
h3, h4, h5, h6, nav, summary {
  color: #cc0106;
  font-size: 20px;
  font-size: 1.25rem;
}
/* line 31, ../sass/screen.scss */
h3 small, h4 small, h5 small, h6 small, nav small, summary small {
  font-size: 16px;
  font-size: 1rem;
}

/* line 35, ../sass/screen.scss */
details {
  padding-bottom: 16px;
  padding-bottom: 1rem;
}

/* line 38, ../sass/screen.scss */
summary {
  zoom: 1;
  cursor: pointer;
}
/* line 9, ../sass/helper/_mixins.scss */
summary:after {
  content: ' ';
  display: block;
  clear: both;
  font-size: 0;
}
/* line 43, ../sass/screen.scss */
summary:hover {
  text-decoration: underline;
}

/* line 47, ../sass/screen.scss */
p {
  font-size: 16px;
  font-size: 1rem;
  text-align: justify;
}

/* line 52, ../sass/screen.scss */
header, article {
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  padding-left: 32px;
  padding-left: 2rem;
  padding-right: 32px;
  padding-right: 2rem;
}

/* line 60, ../sass/screen.scss */
hr {
  width: 100%;
  height: 1px;
  background-color: #CCC;
  color: #CCC;
  border: none;
}

/* line 67, ../sass/screen.scss */
nav {
  display: table;
  table-layout: fixed;
  width: 100%;
}
/* line 72, ../sass/screen.scss */
nav ul {
  display: table-row;
}
/* line 75, ../sass/screen.scss */
nav li {
  display: table-cell;
  text-align: center;
}

/* line 81, ../sass/screen.scss */
.topics li {
  zoom: 1;
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  display: block;
}
/* line 9, ../sass/helper/_mixins.scss */
.topics li:after {
  content: ' ';
  display: block;
  clear: both;
  font-size: 0;
}
/* line 88, ../sass/screen.scss */
.topics img {
  -webkit-box-shadow: 0 0 10px #cdb89e;
  -moz-box-shadow: 0 0 10px #cdb89e;
  -o-box-shadow: 0 0 10px #cdb89e;
  -ms-box-shadow: 0 0 10px #cdb89e;
  box-shadow: 0 0 10px #cdb89e;
  float: left;
  margin: 0 20px 12px 0;
  border: 1px solid #FFF;
}

/* line 96, ../sass/screen.scss */
#map {
  -webkit-box-shadow: 0 0 10px #cdb89e;
  -moz-box-shadow: 0 0 10px #cdb89e;
  -o-box-shadow: 0 0 10px #cdb89e;
  -ms-box-shadow: 0 0 10px #cdb89e;
  box-shadow: 0 0 10px #cdb89e;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  border: 1px solid #FFF;
}

/* line 104, ../sass/screen.scss */
#sliderFrame, #slider {
  -webkit-box-shadow: 0 0 10px #cdb89e;
  -moz-box-shadow: 0 0 10px #cdb89e;
  -o-box-shadow: 0 0 10px #cdb89e;
  -ms-box-shadow: 0 0 10px #cdb89e;
  box-shadow: 0 0 10px #cdb89e;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  border: 1px solid #FFF;
}
