/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(../scripts/slider/js-image-slider.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background-color: #FFF;
  color: #000; }

body {
  max-width: 664px;
  max-width: 41.5rem;
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.35; }

img {
  max-width: 664px;
  max-width: 41.5rem; }

a {
  color: #CC0106; }

h1, h2, h3, h4, h5, h6, p, ul, ol, details, nav, #map {
  margin-bottom: 16px;
  margin-bottom: 1rem; }

li {
  margin-bottom: 8px;
  margin-bottom: 0.5rem; }

h1, h2 {
  color: #83ab17;
  font-size: 28px;
  font-size: 1.75rem; }

h3, h4, h5, h6, nav, summary {
  color: #CC0106;
  font-size: 20px;
  font-size: 1.25rem; }
  h3 small, h4 small, h5 small, h6 small, nav small, summary small {
    font-size: 16px;
    font-size: 1rem; }

details {
  padding-bottom: 16px;
  padding-bottom: 1rem; }

summary {
  zoom: 1;
  cursor: pointer; }
  summary:after {
    content: ' ';
    display: block;
    clear: both;
    font-size: 0; }
  summary:hover {
    text-decoration: underline; }

p {
  font-size: 16px;
  font-size: 1rem;
  -webkit-hyphens: auto;
  -o-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }
  @media screen and (max-device-width: 30em) {
    p {
      text-align: left; } }

header, article {
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  padding-left: 32px;
  padding-left: 2rem;
  padding-right: 32px;
  padding-right: 2rem; }

.next-meetup img {
  display: block;
  width: 100%;
  height: auto; }

hr {
  width: 100%;
  height: 1px;
  background-color: #CCC;
  color: #CCC;
  border: none; }

nav {
  display: table;
  table-layout: fixed;
  width: 100%; }
  nav ul {
    display: table-row; }
  nav li {
    display: table-cell;
    text-align: center; }

.topics > li {
  zoom: 1;
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  display: block; }
  .topics > li:after {
    content: ' ';
    display: block;
    clear: both;
    font-size: 0; }

.topics img {
  -o-box-shadow: 0 0 10px #cdb89e;
  -ms-box-shadow: 0 0 10px #cdb89e;
  box-shadow: 0 0 10px #cdb89e;
  float: left;
  margin: 0 20px 12px 0;
  border: 1px solid #FFF; }

.talk ul {
  list-style: disc outside;
  margin-left: 1.5rem; }

.archive {
  max-height: 500px;
  overflow: auto; }
  .archive li {
    zoom: 1;
    margin-top: 0px;
    margin-top: 0rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
    display: block; }
    .archive li:after {
      content: ' ';
      display: block;
      clear: both;
      font-size: 0; }
    .archive li ul {
      margin-top: 0; }
  .archive h3 {
    margin-bottom: 0; }
  .archive strong {
    font-size: 20px;
    font-size: 1.25rem; }

#map {
  -o-box-shadow: 0 0 10px #cdb89e;
  -ms-box-shadow: 0 0 10px #cdb89e;
  box-shadow: 0 0 10px #cdb89e;
  box-sizing: border-box;
  width: 100%;
  height: 400px;
  border: 1px solid #FFF; }

.moodvideo {
  position: relative;
  margin-bottom: 1rem;
  margin-left: calc((100vw - 41.5rem) / -2); }
  .moodvideo:before {
    padding-top: 56.25%; }
  .moodvideo video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

#slider {
  background-size: cover; }

#sliderFrame, #slider {
  -o-box-shadow: 0 0 10px #cdb89e;
  -ms-box-shadow: 0 0 10px #cdb89e;
  box-shadow: 0 0 10px #cdb89e;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  border: 1px solid #FFF; }

.slack-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .slack-form label {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex: 1 1 90%;
        -ms-flex: 1 1 90%;
            flex: 1 1 90%;
    min-width: 0;
    white-space: nowrap; }
  .slack-form button {
    -webkit-flex: 0 0 10%;
        -ms-flex: 0 0 10%;
            flex: 0 0 10%;
    margin: 0;
    padding: 0 1em;
    background-color: #CC0106;
    color: #fff;
    border: none; }
  .slack-form input {
    display: block;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 0;
    margin-left: 1em;
    padding: 0.25em;
    font: inherit; }
/*# sourceMappingURL=screen.css.map */